/******** Responsive ************/

* {
    margin-top: 0;
}

body {
    color: #fff;
    background-color: #0a3d62;
    background-image: url(https://images.unsplash.com/photo-1484557052118-f32bd25b45b5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHNlcnZldXIlMjByZXNlYXV4fGVufDB8fDB8fHww);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
}

  .flexContainer {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .flexContainerColumn {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
.flex-item {
    background-color: #eeeeee;
    color: #474d5d;
    width: 90%;
    margin: 5%;
    margin-bottom: 15px;
    padding: 0px;
    -webkit-flex: 1 auto;
    flex: 1 auto;
  }

.flex-pictures {
    -webkit-flex: 1 100%;
    flex: 1 100%;
  }
   
header {
    background-color: #b71540;
    height: 500px;
  }

header nav {
    display: none;
    z-index: 1;
  }

footer{
    font-family: 'Open Sans', sans-serif;
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #2980b9;
    border-top: 2px solid #aaa;
}

#headerText {
    max-width: 80%;
    margin: auto;
    text-align: center;
  }

#headerText h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: bolder;
  }

#headerText h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
  }
  
#contact {
    background-color: #0a3d62;
    height: 100px;
    padding: 20px;
  }

  
#contact h1 {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
  }
  
#contact h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    text-align: center;
    padding: 10px;
  }
  

.icone {
    text-align: center;
  }
  
.icone a {
    color: #fff;
  }

#map {
    display: none;
  }

#projet {
    background-color: #474d5d;
    padding-top: 20px;
  }
  
#projet h3 {
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
    height: 50px;
    padding-top: 20px;
    letter-spacing: 2px;
  }

#projet h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
  }

#projet h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
  }

#projet p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.8em;
    margin-left: 5px;
    text-align: center;
  }


#pictures {
    margin: 20px;
    text-align: center;
  }
  
#pictures img {
    height: 100px;
    margin-left: 10px;
  }


/****************** CSS tablettes ******************/
  
  @media all and (min-width: 640px) {
    header nav {
      display: block;
      position: fixed;
      top: 0px;
      width: 100%;
      background-color: #262b37;
      height: 50px;
      letter-spacing: 2px;
      text-align: center;
    }
    #menu li {
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      font-weight: light;
      margin: 15px;
      vertical-align: top;
    }
    #menu ul {
      padding: 0;
      margin-top: 12px;
      text-align: center;
      background-color: #262b37;
    }
    #menu a {
      text-transform: uppercase;
      text-decoration: none;
      color: #c3c8d6;
    }
    #menu a:hover {
      color: #fff;
    }
    #menu li li {
      display: none;
      margin: 5px 0px 0px 0px;
      padding: 0;
    }
    #menu li li a {
      text-transform: lowercase;
      text-decoration: none;
      color: #c3c8d6;
      font-size: 0.8em;
    }
    #menu li:hover li {
      display: block;
    }
    .flexContainerColumn {
      -webkit-flex-direction: row;
      flex-direction: row;
    }
    .flex-item {
      width: 300px;
      margin: 10px;
      -webkit-flex-direction: row;
      flex: 1 auto;
    }
    #contact {
      padding: 40px;
    }
    #contact h1 {
      display: block;
    }

    /************************************ CSS Desktop ***************************************/

    @media all and (min-width: 1024px) {
      .flexContainer {
        display: -webkit-flex;
        /* Safari */
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
      }
      .flex-item {
        width: 400px;
        margin: 10px;
        -webkit-flex: 1 auto;
        flex: 1 auto;
      }
      #contact {
        height: 200px;
      }
      #map {
        -webkit-display: flex;
        display: flex;
        width: 500px;
        height: 200px;
      }
    }



/*** old version 1 ***
h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

h3{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

header{
    height: 100px;
}

******/


/**** old version 1 
nav li{
    list-style-type: none;
    float: left;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100px;
    background-color: #424558;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.table{
    display: table;
    margin: 0 auto;
}

.menu-ind:hover{
    border-top: 5px solid #4c8;
    background-color: rgba(64, 200, 130, 0.15);
}

.menu-exp:hover{
  border-top: 5px solid #f1dc4f;
  background-color: rgba(241, 211, 79, 0.15);
}

.menu-comp:hover{
     border-top: 5px solid #0070bb;
     background-color: rgba(000, 112, 192, 0.15);
}

.menu-con:hover{
     border-top: 5px solid #e44d26;
     background-color: rgba(228, 77, 38, 0.15);
}

.nav li:hover a{
    padding: 15px 30px 20px 30px
}



@media screen and (max-width: 780px){

    header{
        height: 50px;
    }

    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }

    nav li a{
        font-size: 12px;
        margin: 10px;
    }

    nav li:hover a{
         padding: 5px 10px 10px 10px;
    }
} 

***/

